html body{
	background-color: rgb(245,245,245);

}
.nav-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}
.brand-logo {
	font-family: cursive;
}
.main_body{
	border:solid;
	border-width: thin;
	border-color: rgb(230,230,230);
	margin: 0.5rem 0 1rem 0;
}
.card{
	margin: 1rem 1rem;
	height: 190px;
}
.activator:hover{
	cursor: pointer;
}