html,body  {
  height: 100%;
  /*background-color: rgb(230, 230, 230);*/
  background-image: url('/img/bg.png');
}
.row .col.s3{
	width: 20% !important;
}
.side_bar {
  position: fixed;		
  background-color: #37474f;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}
.logo {
 width: 100%;
 height: 15%;
}
.logo span {
  font-size: 3em;
  text-align: center;
  font-family: cursive;
  color: white;
}
.nav_holder {
margin-left: 20% !important;
  padding: 0px !important;
}
/*.namo{
	float: right;
	margin-right: 5%;
	font-size: 1.22em;
}*/
nav{
	width: 80% !important;
}
.side_bar .section{
	padding: 10px 0px;
}
.side_bar .section span{
	font-size: 1.5em;
	font-family: calibri;
	color: white;
	margin-left: 7%;

}
.side_bar .section:hover {
	background: grey;
	cursor: pointer;
}
.hidden{
	display: none;
}
#job_modal{
	width: 50% !important;
}
.pad{
	margin: 20px 20px;
	padding: 10px 5%;
}
.pad:hover{
	cursor: pointer;
}
/*.pad:active .buttons{
	display: block;
}*/
.question span{
	font-size: 120%;
}
.buttons{
	position: relative;
	height: 45px;
	top: 10px;
	right: -35%;
	text-align: center;
}
.buttons a{
	text-align: center;
}
.new_question{
	border-style: dashed;
	border-width: medium;
    border-color: orange;
    border-radius: 2px;
}
.card{
	background-image: url('/img/bg_card.png');
}
table{
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
}
.juju {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}